{
	default_sni {$SITE_HOST}
}

{$SITE_HOST} {
	tls {
		issuer acme {
			dir https://acme-v02.api.letsencrypt.org/directory
			profile shortlived
			disable_tlsalpn_challenge
		}
	}
	reverse_proxy frontend:3000
}

{$SITE_HOST}.sslip.io {
	reverse_proxy frontend:3000
}
